body {
    color: #2B332E;
    background: #FFFFFF;
    font-size: 16px;
    font-size: 1.0rem;
    max-width: 960px;
    padding: 0px 80px 25px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif;
}

